@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* --font-sans: "Montserrat", sans-serif; */

  --color-primary: #017acb;
  --color-primary-100: #bae2fd;
  --color-primary-200: #7ccbfd;
  --color-primary-300: #37b1f9;
  --color-primary-400: #0d98ea;
  --color-primary-500: #017acb;
  --color-primary-600: #025fa2;
  --color-primary-700: #065186;
  --color-primary-800: #0b446f;
  --color-primary-900: #082b49;

  --color-secondary: #2f6991;
  --color-secondary-100: #cadfed;
  --color-secondary-200: #9bc3de;
  --color-secondary-300: #66a4ca;
  --color-secondary-400: #4289b5;
  --color-secondary-500: #2f6991;
  --color-secondary-600: #29587b;
  --color-secondary-700: #254c67;
  --color-secondary-800: #234057;
  --color-secondary-900: #182a39;

  --color-yellow: #fac101;
  --color-yellow-100: #fffcc5;
  --color-yellow-200: #fffa86;
  --color-yellow-300: #fff146;
  --color-yellow-400: #ffe31c;
  --color-yellow-500: #fac101;
  --color-yellow-600: #e19800;
  --color-yellow-700: #bb6c02;
  --color-yellow-800: #975309;
  --color-yellow-900: #7c440b;
  --color-yellow-950: #482300;
}

label {
  font-size: 1rem !important;
  text-overflow: ellipsis;
}

.form-input {
  font-size: 16px !important;
}

body {
  background-color: rgb(226, 232, 240);
}
